[Unit]
Description=TUcal event merger

[Service]
Type=simple
WorkingDirectory=/opt/tucal/src/
EnvironmentFile=/etc/environment
ExecStart=/bin/python3 -m tucal.event_merger
Restart=always
RestartSec=10
User=<USER>
Group=<GROUP>

[Install]
WantedBy=multi-user.target
