
body main.wcal {
    width: 80%;
    max-width: 100%;
}

@media screen and (max-width: 1500px) {
    body main.wcal {
        width: 1200px;
    }
}

div.calendar {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: var(--sec-bg-color-2);
    box-sizing: border-box;
    --left-size: 50px;
    --header-size: calc(var(--row-size) * 6);
    --row-size: 25px;
    --time-start: calc(7 * 60);
    --time-end: calc(22 * 60);
}

@media screen and (min-height: 1080px) {
    div.calendar {
        --row-size: 30px;
    }
}

div.calendar > table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: auto;
    table-layout: fixed;
    position: relative;
}

div.calendar > table thead {
    position: sticky;
    top: var(--nav-height);
    z-index: 20;
}

div.calendar > table th,
div.calendar > table td {
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

div.calendar > table tbody th,
div.calendar > table tbody td {
    border-right: 1px solid var(--border-color);
    width: calc((100% - var(--left-size)) / 7);
    height: var(--row-size);
}

div.calendar > table tbody th:first-child,
div.calendar > table tbody td:first-child {
    border-left: 1px solid var(--border-color);
}

div.calendar > table tbody tr:nth-child(2n) th,
div.calendar > table tbody tr:nth-child(2n) td {
    border-bottom: 1px solid var(--border-color);
}

div.calendar > table tbody tr:nth-child(2n + 1) th,
div.calendar > table tbody tr:nth-child(2n + 1) td {
    border-bottom: 1px dotted var(--border-color);
}

div.calendar > table thead th,
div.calendar > table thead td {
    height: var(--row-size);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--grey-E8);
}

div.calendar > table thead tr:not(:nth-child(2)) th:first-child,
div.calendar > table thead td:first-child {
    border-left: 1px solid var(--border-color);
}

div.calendar > table thead tr:first-child th {
    border-top: 1px solid var(--border-color);
}

div.calendar > table tbody th:first-child,
div.calendar > table thead tr:first-child th:first-child {
    width: var(--left-size);
}

div.calendar > table tbody th:first-child {
    font-weight: normal;
    font-size: 0.75em;
    padding-bottom: 8px;
    background-color: var(--grey-E8);
}

div.calendar > table tbody td:nth-child(7),
div.calendar > table tbody td:nth-child(8) {
    background-color: var(--grey-F8);
}

div.calendar > table tfoot th {
    background-color: var(--grey-E8);
    border: 1px solid var(--border-color);
    border-top: none;
}

div.calendar > table tfoot th:not(:first-child) {
    border-left: none;
}

div.calendar div.settings {
    padding: 0.5em 1em;
    text-align: left;
}

div.calendar div.settings label {
    margin-right: 1em;
}

div.calendar > table td.today {
    background-color: var(--color-lighter) !important;
}

div.calendar div.panel {
    display: flex;
    width: 100%;
    flex-direction: column;
}

div.calendar div.panel span {
    flex-grow: 1;
}

div.calendar thead button {
    outline: none;
    border: none;
    font-size: 1em;
    width: 100%;
    height: 100%;
    background-color: var(--grey-E8);
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    border-radius: 0;
}

div.calendar thead button:hover {
    background-color: var(--grey-D0);
}

div.calendar thead button:active {
    background-color: var(--grey-B0);
}

div.calendar thead button {
    cursor: pointer;
}

div.calendar thead button.today-button {
    font-size: 0.75em;
    font-weight: bold;
}

div.calendar thead button.arrow-button {
    font-size: 1.25em;
    line-height: 1em;
}

div.calendar div.panel span {
    box-sizing: border-box;
}

div.calendar div.panel span.year-header {
    font-size: 0.875em;
    padding: 0.625em 0 0 0;
    font-weight: normal;
    flex: 30px 0 0;
}

div.calendar div.panel span.week-header {
    font-size: 0.75em;
    flex: 20px 1 0;
}

div.calendar thead tr:nth-child(2) th > div {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: calc(var(--header-size) - var(--row-size));
}

div.calendar thead ul {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    position: relative;
}

div.calendar thead li {
    margin: 0.5em 0 0.5em 3em;
    color: var(--black);
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

div.calendar thead li:not(.assignment):not(.deadline) {
    color: var(--grey-80);
}

div.calendar thead li > a {
    text-decoration: none;
    color: inherit;
}

div.calendar thead li > a:hover {
    color: var(--color);
}

div.calendar thead span.time {
    font-weight: bold;
    position: absolute;
    left: 0.25em;
}

div.calendar thead span.course {
    font-weight: bold;
}

div.calendar div.event-wrapper {
    position: absolute;
    width: calc(100% - var(--left-size));
    height: calc(var(--row-size) * 30 + 1px);
    top: var(--header-size);
    right: 0;
    overflow: hidden;
}

div.calendar div.event-wrapper > * {
    position: absolute;
    margin: 0;
}

div.calendar div.event-wrapper > hr {
    --time: 0;
    border: none;
    width: calc(100% - 1px);
    height: 2px;
    margin-top: -1px;
    background-color: var(--red);
    top: calc((100% - 1px) * (var(--time) - var(--time-start)) / (var(--time-end) - var(--time-start)) + 0.5px)
}

div.calendar div.event-wrapper div.loading {
    width: 100%;
    height: 100%;
    background-color: #00000040;
    text-align: center;
    font-size: 1.5em;
    padding: calc(33.3333% - 1em);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

div.calendar div.event-wrapper div.day {
    --n: 0;
    height: 100%;
    width: calc((100% - 1px) / 7 - 1px);
    box-sizing: border-box;
    border-left: 2px solid #00000000;
    border-right: 2px solid #00000000;
    border-bottom: 1px solid #00000000;
    left: calc((100%) / 7 * var(--n));
}

div.calendar div.event-wrapper div.day:nth-of-type(1) {
    --n: 0;
}

div.calendar div.event-wrapper div.day:nth-of-type(2) {
    --n: 1;
}

div.calendar div.event-wrapper div.day:nth-of-type(3) {
    --n: 2;
}

div.calendar div.event-wrapper div.day:nth-of-type(4) {
    --n: 3;
}

div.calendar div.event-wrapper div.day:nth-of-type(5) {
    --n: 4;
}

div.calendar div.event-wrapper div.day:nth-of-type(6) {
    --n: 5;
}

div.calendar div.event-wrapper div.day:nth-of-type(7) {
    --n: 6;
}

div.calendar div.event {
    --margin: 1px;
    --start: 0;
    --end: 0;
    --parts: 1;
    --part1: 0;
    --part2: 1;
    position: absolute;
    display: block;
    font-size: 0.75em;
    cursor: pointer;
    border: 1px solid var(--evt-color);
    border-radius: var(--border-radius);
    margin: var(--margin);
    box-sizing: border-box;
    width: calc((100% * (var(--part2) - var(--part1)) / var(--parts)) - var(--margin) * 2);
    left: calc(var(--part1) / var(--parts) * 100%);
    top: calc((var(--start) - var(--time-start)) / (var(--time-end) - var(--time-start)) * 100% + 1px);
    height: calc((var(--end) - var(--start)) / (var(--time-end) - var(--time-start)) * 100% - 1px - var(--margin) * 2);
}

div.calendar div.event-data {
    box-sizing: border-box;
    padding: 0.25em;
    border: 1px solid var(--evt-border);
    border-radius: var(--border-radius);
    background-color: var(--evt-color);
    left: -1px;
    width: calc(100% + 2px);
    overflow: hidden;
}

div.calendar div.event > * {
    position: relative;
}

div.calendar div.event,
section.calendar-legend div.legend {
    --evt-color: var(--grey-D8);
    --evt-border: var(--grey-60);
    --evt-light: var(--grey-F0);
    --evt-light-trans: var(--white-trans);
}

div.calendar div.event.group,
div.calendar div.event.lecture,
div.calendar div.event.course,
section.calendar-legend div.legend.group,
section.calendar-legend div.legend.lecture,
section.calendar-legend div.legend.course {
    --hue: 0deg;
    --l: 87.5%;
    --evt-color: hsl(var(--hue), calc(100% - (87.5% - var(--l)) * 2), var(--l));
    --evt-light: hsl(var(--hue), calc(100% - (87.5% - var(--l)) * 2), calc(var(--l) + 6.25%));
    --evt-light-trans: hsl(var(--hue), calc(100% - (87.5% - var(--l)) * 2), calc(var(--l) + 6.25%), 0);
    --evt-border: hsl(var(--hue), 50%, 50%);
}

.theme-dark div.calendar div.event.group,
.theme-dark div.calendar div.event.lecture,
.theme-dark div.calendar div.event.course,
.theme-dark section.calendar-legend div.legend.group,
.theme-dark section.calendar-legend div.legend.lecture,
.theme-dark section.calendar-legend div.legend.course,
.theme-black div.calendar div.event.group,
.theme-black div.calendar div.event.lecture,
.theme-black div.calendar div.event.course,
.theme-black section.calendar-legend div.legend.group,
.theme-black section.calendar-legend div.legend.lecture,
.theme-black section.calendar-legend div.legend.course {
    --l: 12.5% !important;
    --evt-color: hsl(var(--hue), calc(100% - (12.5% - var(--l)) * 2), var(--l));
    --evt-light: hsl(var(--hue), calc(100% - (12.5% - var(--l)) * 2), calc(var(--l) + 3.125%));
    --evt-light-trans: hsl(var(--hue), calc(100% - (12.5% - var(--l)) * 2), calc(var(--l) + 3.125%), 0);
    --evt-border: hsl(var(--hue), 50%, 50%);
}

div.calendar div.event.online,
section.calendar-legend div.legend.online > div {
    background: repeating-linear-gradient(
            45deg,
            var(--evt-color),
            var(--evt-color) 5px,
            var(--evt-light) 5px,
            var(--evt-light) 10px
    );
}

div.calendar div.event.cancelled {
    opacity: 0.25;
}

div.calendar div.event.hidden {
    opacity: 0.5;
}

div.calendar div.event.course,
section.calendar-legend div.legend.course {
    --hue: 270deg;
}

div.calendar div.event.group,
section.calendar-legend div.legend.group {
    --l: 84.375%;
    --hue: 120deg;
}

div.calendar div.event.lecture,
section.calendar-legend div.legend.lecture {
    --hue: 220deg;
}

div.calendar div.event:hover {
    z-index: 5;
    border-color: var(--evt-border);
}

div.calendar div.event:not(.cancelled).now .event-data {
    box-shadow: 0 0 4px var(--glow);
}

div.calendar div.event > div {
    display: block;
}

div.calendar div.event > div.pre,
div.calendar div.event > div.post {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

div.calendar div.event > div.pre {
    top: 0;
    background: linear-gradient(var(--evt-light-trans), var(--evt-light));
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

div.calendar div.event > div.post {
    bottom: 0;
    background: linear-gradient(var(--evt-light), var(--evt-light-trans));
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

div.calendar div.event div.time {
    font-size: 0.75em;
}

div.calendar div.event span.course {
    font-weight: bold;
}

div.calendar div.event span.room {
    white-space: nowrap;
}

div.calendar div.event a.live {
    float: right;
    z-index: 2;
    height: 16px;
}

div.calendar div.event a.live img {
    height: 16px;
    width: 16px;
}

div.calendar div.event a.live:hover img {
    filter: drop-shadow(0 0 1px var(--black-alpha));
}

section.calendar-legend {

}

section.calendar-legend div.legend {
    display: flex;
    margin: 0.5em;
    gap: 0.5em;
    align-items: center;
}

section.calendar-legend div.legend > div {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid var(--evt-border);
    background-color: var(--evt-color);
    flex-shrink: 0;
}

section.calendar-legend div.legend > span {
    color: var(--evt-border);
    hyphens: auto;
    -moz-hyphens: auto;
}

section.calendar-legend div.legend > span.color-name {
    width: 100px;
    flex-shrink: 0;
}

@media screen and (max-width: 800px) {
    div.calendar thead th.day-header {
        font-size: 0.75em;
        padding: 0 0.5em;
    }

    div.calendar div.day {
        border-left-width: 0;
        border-right-width: 0;
    }

    div.calendar div.event {
        font-size: 0.625em;
    }

    div.calendar div.event a.live {
        display: none;
    }

    div.calendar thead li {
        margin-left: 0.5em;
    }

    div.calendar thead span.time {
        position: unset;
    }
}

@media screen and (max-width: 600px) {
    div.calendar thead th.day-header {
        font-size: 0.625em;
    }

    div.calendar thead li {
        font-size: 0.75em;
    }

    div.calendar div.settings label {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    div.calendar div.event div.summary,
    div.calendar div.event div.group {
        font-size: 0.75em;
    }

    div.calendar > table thead {
        position: unset;
    }
}

@media screen and (max-width: 400px) {
    div.calendar {
        font-size: 0.75em;
        --left-size: 40px;
    }
}
