
.button-wrapper {
    margin: 1em 0;
    gap: 1em;
    display: flex;
    justify-content: center;
}

table.calendar-exports {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    text-align: center;
}

table.calendar-exports th,
table.calendar-exports td {
    border: 1px solid var(--border-color);
    padding: 0.25em 0.5em;
}

table.calendar-exports form {
    display: inline-block;
}

table.calendar-exports form div.flex {
    display: flex;
    align-items: start;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em 0;
}

table.calendar-exports form div.sub-flex {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

table.calendar-exports form fieldset {
    text-align: left;
    font-size: 0.75em;
}

table.calendar-exports form button {
    align-self: end;
}
