
section.contact form > div {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25em;
}

section.contact label {
    display: inline-block;
    width: 150px;
    flex-shrink: 0;
}

section.contact input {
    width: 300px;
    max-width: 100%;
}

section.contact textarea {
    width: 300px;
    flex-grow: 1;
}

section.contact button {
    display: block;
    margin: 1em auto;
    font-size: 1em;
}
