
section.course-list {
    padding-bottom: 2em;
}

section.course-list > div {
    margin: -2em;
    padding: 1em 2em 2em 2em;
}

section.course-list > a.anchor:target + div {
    box-shadow: 0 0 8px var(--black);
}

section.course-list h2 {
    font-size: 1em;
    text-align: left;
    margin-bottom: 0;
    color: var(--black);
    font-weight: bold;
}

section.course-list h3 {
    font-size: 0.75em;
    text-align: left;
    margin-top: 0;
    font-weight: normal;
    color: var(--black);
}

section.course-list .anchor {
    position: relative;
    top: -12em;
    visibility: hidden;
}

section.course-list span.course-nr {
    font-weight: normal;
    font-size: 0.75em;
}

section.course-list a.link {
    float: right;
    font-weight: normal;
    margin: 0.125em 0.25em;
    font-size: 0.75em;
}

section.course-list form {
    margin: 1em auto;
}

section.course-list form div {
    margin: 1em auto;
}

section.course-list form div.ignore-mode {
    font-size: 0.875em;
}

section.course-list form div.ignore-dates {
    font-size: 0.875em;
    display: none;
    margin-left: 1em;
}

section.course-list form div.ignore-dates.show {
    display: block;
}

section.course-list form div.ignore-dates label {
    display: block;
    margin: 0.5em 0;
}

section.course-list form div.ignore-dates span {
    width: 100px;
    display: inline-block;
}

section.course-list form div.ignore-mode label {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    margin: 0 0.5em;
}

section.course-list form div.ignore-mode input {
    margin: 0;
}
