
html {
    --footer-height: 6rem;
}

body > footer {
    height: var(--footer-height);
    box-sizing: border-box;
    border-top: 1px solid var(--border-color);
    background-color: var(--sec-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em 3em;
    padding: 1em;
    font-size: 0.875em;
}

body > footer > a {
    text-decoration: none;
    color: var(--grey-80);
    display: block;
    max-height: 64px;
}

body > footer > * {
    order: 10;
}

body > footer > a:hover {
    color: var(--grey-60);
}

body > footer > a img {
    width: 64px;
    height: 64px;
}

body > footer > div.copyright {
    color: var(--grey-C0);
    text-align: center;
}

@media screen and (max-width: 700px) {
    body > footer {
        flex-wrap: wrap;
        height: unset;
    }
}

@media screen and (max-width: 500px) {
    body > footer {
        flex-direction: column;
        height: unset;
        gap: 2em;
        padding: 2em 1em;
    }
    body > footer > a:first-child {
        order: 20;
    }
}
