
input:not([type=radio]),
select {
    border: 1px solid var(--color);
    border-radius: var(--border-radius);
    background-color: var(--input-bg-color);
    color: var(--black);
    box-sizing: border-box;
}

input:not([type=radio]) {
    padding: 0.5em;
}

select {
    padding: 0.25em;
}

button,
a.button {
    cursor: pointer;
    border: 1px solid var(--color);
    background-color: var(--input-bg-color);
    color: var(--color);
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none !important;
    display: inline-block;
}

button.margin,
a.button.margin {
    margin: 0.25em;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
    background-color: var(--color);
    border-color: var(--color);
    color: var(--color-comp);
}

button:disabled {
    background-color: var(--grey-C0);
    border-color: var(--grey-C0);
    color: var(--grey-40);
}

input:disabled {
    background-color: var(--grey-C0);
    border-color: var(--grey-80);
    color: var(--grey-40);
}

main section > form.panel {
    max-width: 400px;
    margin: auto;
    padding-bottom: 1em;
}

main form.panel h1 {
    text-align: center;
}

main form.panel p {
    text-align: center;
    font-size: 0.875rem;
    margin: 1rem 0.5rem;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

main form.panel div.text,
main form.panel div.container,
main form.panel button,
main form.panel a.button {
    display: block;
    width: calc(100% - 1em);
    margin: 0.5em;
    box-sizing: border-box;
    padding: 0.75em 1em;
    font-size: 1em;
    border-radius: var(--border-radius);
    background-color: var(--color-comp);
    --border-color: var(--color);
    overflow: hidden;
}

main form.panel div.text,
main form.panel div.container {
    background-color: var(--input-bg-color);
}

main form.panel div.text {
    position: relative;
    padding: 0;
}

main form.panel div.text.error {
    --border-color: var(--red);
}

main form.panel div.container,
main form.panel button,
main form.panel a.button {
    border: 1px solid var(--border-color);
}

main form.panel div.text > label {
    color: var(--grey-80);
    position: absolute;
    left: 1rem;
    top: 0.875rem;
    transition: top 0.125s, font-size 0.125s;
    cursor: text;
    user-select: none;
    white-space: pre;
}

main form.panel div.text.error > label {
    color: var(--red);
}

main form.panel div.text > label:nth-of-type(2) {
    left: unset;
    right: 1rem;
    display: none;
}

main form.panel *.red {
    --border-color: var(--red) !important;
}

main form.panel div.text > input:focus ~ label,
main form.panel div.text > input:not(:placeholder-shown) ~ label {
    font-size: 0.75em;
    top: 0.25rem;
    display: inline;
}

main form.panel div.text > input {
    border: 1px solid var(--border-color);
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    padding: 1.25rem 1rem 0.25rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--input-bg-color);
    color: var(--black);
}

main form.panel button,
main form.panel a.button {
    color: var(--color);
    text-align: center;
    text-decoration: none;
    user-select: none;
}

main form.panel button:hover,
main form.panel button:focus,
main form.panel a.button:hover,
main form.panel a.button:focus {
    background-color: var(--color);
    border-color: var(--color);
    color: var(--color-comp);
    cursor: pointer;
}

main form.panel ~ div.error,
main form.table ~ div.error {
    border: 1px solid var(--red);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 1em;
    margin: 0 0 1em 0;
    white-space: pre-wrap;
    color: var(--red);
}

main form.panel div.container label {
    font-size: 0.875rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

main form.table {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    align-items: center;
}

main form.table > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main form.table label {
    display: inline-block;
    width: 100px;
    flex: 200px 0 2;
}

main form.table input,
main form.table select {
    display: inline-block;
    width: 200px;
    flex: 250px 0 1;
}
