
div.friend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.friend-container > div {
    display: block;
    width: 200px;
}

a.friend-request {
    display: inline-block;
    margin: 8px 0 8px 8px;
    height: 24px;
    width: 24px;
    border-radius: var(--border-radius);
    border: 1px solid var(--grey-80);
    float: left;
}

a.friend-request img {
    height: 24px;
    width: 24px;
}

a.friend-request[href^="/friends/remove"] {
    border-color: var(--green);
}
a.friend-request[href^="/friends/remove"] img {
    content: url("/res/svgs/friend.svg");
}

a.friend-request[href^="/friends/remove"]:hover,
a.friend-request[href^="/friends/remove"]:focus {
    border-color: var(--red);
}
a.friend-request[href^="/friends/remove"]:hover img,
a.friend-request[href^="/friends/remove"]:focus img{
    content: url("/res/svgs/friend-remove.svg");
}

a.friend-request[href^="/friends/add"] {
    border-color: var(--grey-80);
}
a.friend-request[href^="/friends/add"] img {
    content: url("/res/svgs/friend-request.svg");
}

a.friend-request[href^="/friends/add"]:hover,
a.friend-request[href^="/friends/add"]:focus {
    border-color: var(--green);
}
a.friend-request[href^="/friends/add"]:hover img,
a.friend-request[href^="/friends/add"]:focus img {
    content: url("/res/svgs/friend-add.svg");
}
