
html {
    --nav-height: 3rem;
}

body > nav {
    width: 100%;
    max-width: 100vw;
    z-index: 100;
    height: var(--nav-height);
    box-sizing: content-box;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--nav-bg-color);
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
}

body > nav > * {
    height: 100%;
}

#nav-left,
#nav-right {
    flex: 400px 1 1;
    display: flex;
}

#nav-left {
    order: 10;
}

#nav-right {
    order: 30;
}

#nav-center {
    flex: 75% 1 1;
    display: flex;
    justify-content: center;
    order: 20;
}

body > nav a {
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    height: 100%;
}

body > nav div.link a {
    color: var(--grey-80);
    padding: 1em 2em 0 2em;
    text-align: center;
    width: 200px;
}

body > nav a.button {
    color: var(--grey-80);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: inline-block;
    height: 2em;
    padding: 0.375em 1em;
}

body > nav a.button.active {
    color: var(--color);
    border-color: var(--color);
}

body > nav a.button:hover,
body > nav a.button:focus {
    color: var(--color-comp);
    border-color: var(--color);
}

body > nav div.link a:hover,
body > nav div.link a:focus,
body > nav div.link a.active {
    color: var(--color);
}

#nav-home {
    width: var(--nav-height);
}

#nav-home a {
    width: var(--nav-height);
    padding-left: 0;
    padding-right: 0;
}

#nav-home img {
    height: 48px;
    width: 48px;
    padding: 4px;
    box-sizing: border-box;
}

#nav-home-explicit {
    display: none;
}

#nav-live {
    flex: 100px 1 1;
    text-align: right;
    padding: 0.5em;
    box-sizing: border-box;
}

#nav-live a.live {
    padding: 0.125em 0.5em;
    color: var(--red);
    border-color: var(--red);
    text-align: center;
    font-weight: bold;
}

#nav-live a[href=""] {
    display: none;
}

#nav-live a.live:hover,
#nav-live a.live:focus,
#nav-live a.live:active {
    background-color: var(--red);
    color: var(--color-comp);
}

#nav-live a.live span {
    display: block;
    font-weight: normal;
    font-size: 0.75em;
    text-align: center;
    margin-top: -0.375em;
}

#nav-user {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

#user-menu {
    background-color: var(--nav-bg-color);
    border: 1px solid var(--nav-bg-color);
    border-radius: var(--border-radius);
    text-align: left;
    height: fit-content;
    width: 11em;
    z-index: 110;
}

#user-menu:hover {
    border-color: var(--grey-F0);
}

#user-menu.active {
    border-color: var(--grey-C0);
}

#user-menu > div {
    height: 2.5em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#user-menu > div:first-child {
    padding: 0 0.5em;
    height: 2em;
    cursor: pointer;
}

#user-menu:not(.active) > *:not(:first-child) {
    display: none;
}

#user-menu > div:nth-child(2) {
    margin-top: 0.5em;
}

#user-menu > div:first-child > img {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: var(--border-radius);
}

#user-menu > div:first-child > a {
    display: inline;
    font-size: 0.75em;
    margin-left: 0.5em;
}

#user-menu > div:first-child > span.arrow {
    position: absolute;
    right: 1em;
    font-size: 0.75em;
}

#user-menu > div a {
    padding: 0;
    height: unset;
    color: var(--black);
    font-size: 0.875em;
    cursor: pointer;
}

#user-menu > div:not(:first-child) a {
    width: 100%;
    height: 100%;
    padding: 0.875em 0.75em;
    box-sizing: border-box;
}

#user-menu > div:not(:first-child):hover {
    background-color: var(--grey-F0);
}

#user-menu hr {
    margin: 0;
    border: none;
    background-color: var(--border-color);
    height: 1px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    body > nav a {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 1000px) {
    body > nav div.link a {
        width: unset;
    }
}

@media screen and (max-width: 800px) {
    body > nav {
        height: unset;
        flex-wrap: wrap;
    }
    body > nav #nav-center {
        height: unset;
        flex-wrap: wrap;
    }
    body > nav > * > * {
        height: 3rem;
        flex: 100% 0 0;
    }
    #nav-left {
        position: fixed;
        left: 0;
        top: 0;
        height: var(--nav-height);
    }
    #nav-right {
        order: 15;
        flex: 25% 1 1;
        flex-wrap: wrap;
    }
    #nav-live {
        order: 5;
        flex: 100% 1 1;
        display: none;
    }
    body > nav.active #nav-home-explicit {
        display: block;
    }
    body > nav.active #nav-live {
        display: flex;
        justify-content: center;
        height: unset;
    }
    body > nav:not(.active) > #nav-center {
        display: none;
    }
}
