
main.search section > div {
    margin: 0.5em 0;
}

form.search {
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
    display: flex;
    gap: 10px;
}

form.search input,
form.search button {
    box-sizing: border-box;
    height: 2.5rem;
    font-size: 1em;
    padding: 0.5em 1em;
}

form.search input {
    flex: 100px 1 1;
}

form.search button {
    flex: 50px 0 0;
}
