
@import "nav.css";
@import "calendar.css";
@import "form.css";
@import "status.css";
@import "job.css";
@import "footer.css";

html {
    font-family: 'Arial', sans-serif;
    --border-radius: 4px;
    --color: #4080C0;
    --color-dark: #204060;
    --color-light: #A0C0E0;
    --color-very-light: #4080C020;
    --red: #C00000;
    --green: #008000;
    --color-error: var(--red);
    --border-color: #C0C0C0;
    --glow: #000000;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

body > div.wrapper {
    min-height: 100vh;
    width: 100%;
    padding: var(--nav-height) 0 1px 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: var(--color);
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
    color: #000000;
}

body main {
    margin: 2em auto;
}

body main.w1 {
    max-width: 600px;
}

body main.w2 {
    max-width: 800px;
}

body main.w3 {
    max-width: 1000px;
}

body main.w4 {
    max-width: 1200px;
}

body main > section {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: #FFFFFF;
    padding: 1em 2em;
    box-sizing: border-box;
    margin: 1em 0.5em;
}

main a {
    color: var(--color);
}

main p.center {
    text-align: center;
}

main section > p {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    box-sizing: border-box;
}

hr[data-content] {
    height: 1.5rem;
    line-height: 1em;
    position: relative;
    outline: none;
    border: none;
    text-align: center;
}

hr[data-content]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

hr[data-content]:after {
    content: attr(data-content);
    color: var(--border-color);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.5rem;
    background-color: #FFFFFF;
}

body main > section > hr {
    position: relative;
    left: -2rem;
    width: calc(100% + 4rem);
}

@media screen and (max-width: 600px) {
    body main > section {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
