
@import "nav.css";
@import "calendar.css";
@import "calendar-event.css";
@import "calendar-exports.css";
@import "form.css";
@import "status.css";
@import "job.css";
@import "search.css";
@import "friends.css";
@import "courses.css";
@import "stats.css";
@import "imprint.css";
@import "contact.css";
@import "footer.css";

html {
    font-family: 'Arial', sans-serif;
    color: var(--black);
    --border-radius: 4px;

    --tl-bg-color: #F0F0F0;
    --td-bg-color: #141414;
    --tb-bg-color: #000000;

    --tl-sec-bg-color: #FFFFFF;
    --td-sec-bg-color: #202020;
    --tb-sec-bg-color: #000000;

    --tl-sec-bg-color-2: #FFFFFF;
    --td-sec-bg-color-2: #101010;
    --tb-sec-bg-color-2: #000000;

    --tl-nav-bg-color: #FFFFFF;
    --td-nav-bg-color: #202020;
    --tb-nav-bg-color: #000000;

    --tl-footer-bg-color: #FFFFFF;
    --td-footer-bg-color: #202020;
    --tb-footer-bg-color: #000000;

    --tl-input-bg-color: #FFFFFF;
    --td-input-bg-color: #181818;
    --tb-input-bg-color: #000000;

    --tl-border-color: #C0C0C0;
    --td-border-color: #303030;

    --tl-glow: #000000;
    --td-glow: #FFFFFF;

    --tl-color: #4080C0;
    --td-color: #4080C0;
    --tl-color-comp: #FFFFFF;
    --td-color-comp: #181818;

    --tl-color-dark: #204060;
    --td-color-dark: #A0C0E0;

    --tl-color-light: #A0C0E0;
    --td-color-light: #204060;

    --tl-color-lighter: #4080C020;
    --td-color-lighter: #4080C030;

    --tl-black: #000000;
    --td-black: #FFFFFF;
    --tl-black-alpha: #00000080;
    --td-black-alpha: #FFFFFF80;

    --tl-white: #FFFFFF;
    --td-white: #000000;

    --tl-grey-40: #404040;
    --tl-grey-60: #606060;
    --tl-grey-80: #808080;
    --tl-grey-A0: #A0A0A0;
    --tl-grey-B0: #B0B0B0;
    --tl-grey-C0: #C0C0C0;
    --tl-grey-D0: #D0D0D0;
    --tl-grey-D8: #D8D8D8;
    --tl-grey-E0: #E0E0E0;
    --tl-grey-E8: #E8E8E8;
    --tl-grey-F0: #F0F0F0;
    --tl-grey-F8: #F8F8F8;

    --td-grey-40: #C0C0C0;
    --td-grey-60: #A0A0A0;
    --td-grey-80: #808080;
    --td-grey-A0: #606060;
    --td-grey-B0: #505050;
    --td-grey-C0: #404040;
    --td-grey-D0: #303030;
    --td-grey-D8: #282828;
    --td-grey-E0: #202020;
    --td-grey-E8: #202020;
    --td-grey-F0: #181818;
    --td-grey-F8: #181818;

    --tl-red: #C00000;
    --td-red: var(--tl-red);

    --tl-green: #008000;
    --td-green: var(--tl-green);

    --tl-color-error: var(--tl-red);
    --td-color-error: var(--td-red);
}

html.theme-light,
html:not(.theme-light):not(.theme-dark):not(.theme-black) {
    --bg-color: var(--tl-bg-color);
    --sec-bg-color: var(--tl-sec-bg-color);
    --sec-bg-color-2: var(--tl-sec-bg-color-2);
    --nav-bg-color: var(--tl-nav-bg-color);
    --footer-bg-color: var(--tl-footer-bg-color);
    --input-bg-color: var(--tl-input-bg-color);
    --border-color: var(--tl-border-color);
    --glow: var(--tl-glow);
    --color: var(--tl-color);
    --color-comp: var(--tl-color-comp);
    --color-dark: var(--tl-color-dark);
    --color-light: var(--tl-color-light);
    --color-lighter: var(--tl-color-lighter);

    --black: var(--tl-black);
    --black-alpha: var(--tl-black-alpha);
    --white: var(--tl-white);
    --grey-40: var(--tl-grey-40);
    --grey-60: var(--tl-grey-60);
    --grey-80: var(--tl-grey-80);
    --grey-A0: var(--tl-grey-A0);
    --grey-B0: var(--tl-grey-B0);
    --grey-C0: var(--tl-grey-C0);
    --grey-D0: var(--tl-grey-D0);
    --grey-D8: var(--tl-grey-D8);
    --grey-E0: var(--tl-grey-E0);
    --grey-E8: var(--tl-grey-E8);
    --grey-F0: var(--tl-grey-F0);
    --grey-F8: var(--tl-grey-F8);

    --red: var(--tl-red);
    --green: var(--tl-green);
    --color-error: var(--tl-color-error);
}

html.theme-dark,
html.theme-black {
    --bg-color: var(--td-bg-color);
    --sec-bg-color: var(--td-sec-bg-color);
    --sec-bg-color-2: var(--td-sec-bg-color-2);
    --nav-bg-color: var(--td-nav-bg-color);
    --footer-bg-color: var(--td-footer-bg-color);
    --input-bg-color: var(--td-input-bg-color);
    --border-color: var(--td-border-color);
    --glow: var(--td-glow);
    --color: var(--td-color);
    --color-comp: var(--td-color-comp);
    --color-dark: var(--td-color-dark);
    --color-light: var(--td-color-light);
    --color-lighter: var(--td-color-lighter);

    --black: var(--td-black);
    --black-alpha: var(--td-black-alpha);
    --white: var(--td-white);
    --grey-40: var(--td-grey-40);
    --grey-60: var(--td-grey-60);
    --grey-80: var(--td-grey-80);
    --grey-A0: var(--td-grey-A0);
    --grey-B0: var(--td-grey-B0);
    --grey-C0: var(--td-grey-C0);
    --grey-D0: var(--td-grey-D0);
    --grey-D8: var(--td-grey-D8);
    --grey-E0: var(--td-grey-E0);
    --grey-E8: var(--td-grey-E8);
    --grey-F0: var(--td-grey-F0);
    --grey-F8: var(--td-grey-F8);

    --red: var(--td-red);
    --green: var(--td-green);
    --color-error: var(--td-color-error);
}

html.theme-black {
    --bg-color: var(--tb-bg-color);
    --sec-bg-color: var(--tb-sec-bg-color);
    --sec-bg-color-2: var(--tb-sec-bg-color-2);
    --nav-bg-color: var(--tb-nav-bg-color);
    --footer-bg-color: var(--tb-footer-bg-color);
    --input-bg-color: var(--tb-input-bg-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

body > div.wrapper {
    min-height: 100vh;
    width: 100%;
    padding: var(--nav-height) 0 1px 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: var(--color);
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
    color: var(--black);
}

body main {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

body main.w1 {
    max-width: 600px;
}

body main.w2 {
    max-width: 800px;
}

body main.w3 {
    max-width: 1000px;
}

body main.w4 {
    max-width: 1200px;
}

body main > section {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--sec-bg-color);
    padding: 1em 2em;
    box-sizing: border-box;
}

main a {
    color: var(--color);
    text-decoration: none;
}

main a:hover,
main a:focus {
    text-decoration: underline;
}

main p.center {
    text-align: center;
}

main p.small {
    font-size: 0.875em;
}

main p.narrow {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

main div.center {
    text-align: center;
}

main section > p {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    box-sizing: border-box;
    margin: 1em 0;
}

hr[data-content] {
    height: 1.5rem;
    line-height: 1em;
    position: relative;
    outline: none;
    border: none;
    text-align: center;
}

hr[data-content]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

hr[data-content]:after {
    content: attr(data-content);
    color: var(--border-color);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.5rem;
    background-color: var(--sec-bg-color);
}

body main > section > hr {
    position: relative;
    left: -2rem;
    width: calc(100% + 4rem);
    margin: 2em 0;
}

@media screen and (max-width: 600px) {
    body main > section {
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 0;
    }
    body main > section > hr {
        width: calc(100% + 2.5rem);
    }
}

a.account {
    display: inline-block;
    padding: 0.25em;
    margin: 0 0.25em;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    text-decoration: none !important;
    color: var(--black);
    cursor: pointer;
}

a.account:hover,
a.account:focus {
    background-color: var(--grey-F0);
}

.theme-dark a.account:hover,
.theme-dark a.account:focus {
    background-color: var(--grey-D0);
}

a.account > div {
    display: flex;
    gap: 0.5em;
    align-items: center;
    text-align: left;
}

a.account img {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius);
}

a.account span.name {
    font-size: 1rem;
    display: block;
    border: none;
    padding: 1px 4px;
    margin: -1px -2px -1px -4px;
    background-color: unset;
    width: unset;
    border-radius: var(--border-radius);
}

a.account span.name[contenteditable="true"]:hover,
a.account span.name[contenteditable="true"]:focus {
    background-color: var(--input-bg-color);
    cursor: text;
}

a.account .sub {
    font-size: 0.675rem;
    color: var(--grey-80);
    display: block;
    min-width: 4.5em;
}

a.account span.username {
    margin-left: -4.5em;
}

a.account:not(:hover):not(:focus) *:not(.has-nickname) > span.username,
a.account:not(:hover):not(:focus) .has-nickname > span.mnr,
a.account:hover *:not(.has-nickname) > span.username,
a.account:hover .has-nickname > span.username,
a.account:focus *:not(.has-nickname) > span.username,
a.account:focus .has-nickname > span.username {
    opacity: 0;
}

a.account span.verified {
    font-size: 1rem;
    color: var(--green);
}

@media screen and (min-device-width: 480px) {
    *::-webkit-scrollbar {
        width: 15px;
    }
    *::-webkit-scrollbar-track {
        background-color: var(--grey-F0);
    }
    *::-webkit-scrollbar-thumb {
        background-color: var(--grey-C0);
        border: 2px solid var(--grey-F0);
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--grey-A0);
    }
}
